.container {
    border: 1px solid black;
    border-radius: 10px;
    min-width: 130px;
    padding: 10px;
    box-shadow: 0 4px #e6e6e6;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}

.container:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.imageContainer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    min-width: 70px;
    max-width: 100px;
    max-height: 100%;
    object-fit: contain;
}

.productContainer {
    height: 70px;
}

.productTitle {
    margin-top: 10px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1rem;
}

.productDescription {
    height: 70px;
}

.productDescription p {
    font-size: 0.9rem;
    font-family: Roboto;
    font-weight: 500;
}

.productPrice {
    margin: 20px 0;
}

.button {
    margin-top: 5px;
}

.button:hover {
    cursor: pointer;
}
